.wpcf7 form.invalid .wpcf7-response-output, .wpcf7 form.unaccepted .wpcf7-response-output, .wpcf7 form.payment-required .wpcf7-response-output {
  border-color: #cc3333 !important;
  font-size: 14px;
}
.wpcf7 form.sent .wpcf7-response-output {
  font-size: 14px;
}