@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

@font-face {
  font-family: "Ubuntu-Bold";
  font-display: swap;
  src: url("../fonts/Ubuntu-Bold.woff") format("woff"), url("../fonts/Ubuntu-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-BoldItalic";
  font-display: swap;
  src: url("../fonts/Ubuntu-BoldItalic.woff") format("woff"), url("../fonts/Ubuntu-BoldItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Italic";
  font-display: swap;
  src: url("../fonts/Ubuntu-Italic.woff") format("woff"), url("../fonts/Ubuntu-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Light";
  font-display: swap;
  src: url("../fonts/Ubuntu-Light.woff") format("woff"), url("../fonts/Ubuntu-Light.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-LightItalic";
  font-display: swap;
  src: url("../fonts/Ubuntu-LightItalic.woff") format("woff"), url("../fonts/Ubuntu-LightItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Medium";
  font-display: swap;
  src: url("../fonts/Ubuntu-Medium.woff") format("woff"), url("../fonts/Ubuntu-Medium.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-MediumItalic";
  font-display: swap;
  src: url("../fonts/Ubuntu-MediumItalic.woff") format("woff"), url("../fonts/Ubuntu-MediumItalic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Ubuntu-Regular";
  font-display: swap;
  src: url("../fonts/Ubuntu-Regular.woff") format("woff"), url("../fonts/Ubuntu-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

/*---------MY--------*/

body {
  font-family: "Ubuntu",sans-serif;
}

.container {
  width: 1237px;
  margin: 0 auto;
}

a {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

ul {
  padding-left: 0;
}

p {
  margin-bottom: 0;
}

/*-------------------------*/

/*-------------*/

.header__info_logo {
  margin: 10px auto 0  auto;
  width: 135px;
  height: 135px;
  border: 3px solid #557abb;
  border-radius: 50%;
  background: #fff;
}

.header__info_logo img {
  margin-top: 20px;
  height: 95px;
}

.header__info_text h1 {
  color: #151B4E;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.header__info_text h1 span {
  font-size: 27px;
}

.header__info_contacts {
  margin-top: 20px;
}

.header__info_contacts a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #151B4E;
  position: relative;
}

.header__info_contacts a img {
  width: 25px;
  height: auto;
  margin-right: 10px;
}

.header__info_contacts a span {
  font-size: 17px;
  position: relative;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__info_contacts a span::before {
  width: 100%;
  background: #151B4E;
  height: 1px;
  position: absolute;
  content: '';
  bottom: -6px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__info_contacts a:hover span::before {
  opacity: 1;
}

.header__menu {
  background: #7bb62f;
  height: 64px;
  margin-top: -50px;
}

.header__menu_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  margin: 23px auto;
}

.header__menu_list ul li {
  margin-right: 40px;
}

.header__menu_list ul li a {
  font-size: 18px;
  color: #fff;
  position: relative;
}

.header__menu_list ul li a::before {
  width: 100%;
  background: #fff;
  height: 1px;
  position: absolute;
  content: '';
  bottom: -6px;
  opacity: 0;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.header__menu_list ul li a:hover::before {
  opacity: 1;
}

.header__menu_search {
  text-align: right;
  margin-top: 15px;
}

.header__menu_search a {
  margin-right: 25px;
}

.header__menu_search a img {
  height: 35px;
}

header.sticky {
  position: fixed;
  font-size: 24px;
  line-height: 48px;
  height: 48px;
  width: 100%;
  background: #efc47D;
  text-align: left;
  padding-left: 20px;
}

.header__fixed {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  height: 100px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #fff;
  font-size: 45px;
  text-align: center;
  z-index: 100;
  background: #7bb62f;
}

.header-sticky-nav {
  opacity: 1;
}

.header-sticky-nav .header__menu_search {
  margin-top: 35px;
}

.header__fixed_logo {
  margin: 0 auto 0 auto;
  width: 95px;
  height: 95px;
  border: 3px solid #557abb;
  border-radius: 50%;
  background: #fff;
}

.header__fixed_logo img {
  margin-top: 13px;
  height: 70px;
}

.header__info_contacts {
  margin-top: 20px;
  position: absolute;
  z-index: 900;
}

/*-------------*/

.slider__wrap {
  max-width: 86%;
  margin: 0 auto;
  padding: 50px 0 20px 0;
}

.slider {
  background: #32B3D5;
}

.main-carousel .owl-next {
  background: #7bb62f !important;
  outline: 0;
  height: 45px;
  width: 45px;
  border-radius: 50% !important;
  border: 4px solid #b8dde6 !important;
  position: absolute;
  right: -70px;
  top: 220px;
}

.main-carousel .owl-next img {
  height: 25px;
}

.main-carousel .owl-prev {
  background: #7BB62F !important;
  outline: none;
  height: 45px;
  width: 45px;
  border-radius: 50% !important;
  border: 4px solid #b8dde6 !important;
  position: absolute;
  left: -70px;
  top: 220px;
}

.main-carousel .owl-prev img {
  height: 25px;
}

.main-carousel .owl-dots {
  position: relative;
  top: -50px;
}

.main-carousel .owl-dots button {
  outline: none;
}

.main-carousel .owl-dots span {
  width: 10px;
  height: 10px;
}

.main-carousel-item {
  height: 467px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  border-radius: 16px;
  max-width: 100%;
}

.main-block {
  margin-top: -30px;
  background: #fff;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__title h2 {
  color: #151B4E;
  position: relative;
  font-weight: bold;
  font-size: 30px;
  padding: 60px 0 30px 25px;
}

.main__title h2 img {
  position: absolute;
  left: 20px;
  top: 55px;
}

.main__title a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 18px;
  color: #151B4E;
}

.main__title a img {
  width: 25px;
  height: auto;
  margin-left: 15px;
}

.main__announce {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 0 auto;
  cursor: pointer;
}

.main__announce h3 {
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 15px;
}

.main__announce p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 25px;
}

.main__announce:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.13);
  border-radius: 10px;
}

.main__announce_img {
  height: 202px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  margin: 0 0px 30px 0px;
}

.read-btn {
  display: inline-block;
  background: #7bb62f;
  color: #fff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 11px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.read-btn:hover {
  color: #fff;
}

.announce-row {
  margin: 0 5px 0 5px;
  border-bottom: 1px solid #dbdbdb;
  padding: 0 0 40px 0;
}

.main__announce_text {
  height: 195px;
  overflow: hidden;
  margin-bottom: 25px;
  padding: 0 15px;
}

.partner-carousel-item {
  height: 340px;
  overflow: hidden;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin: 10px;
}

.partner-carousel-item:hover {
  -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.13);
          box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.13);
}

.partner-carousel-item img {
  margin: 0 auto;
  width: auto !important;
  height: auto;
}

.partners__info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

.partners__info p img {
  height: 23px;
  width: auto !important;
  margin-right: 15px;
}

.partners__info p a {
  font-size: 14px;
  color: #151B4E;
}

.color-links a {
  color: #32b3d5 !important;
}

.partners__img {
  height: 240px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.partner-carousel .owl-next {
  background: #7bb62f !important;
  outline: 0;
  height: 45px;
  width: 45px;
  border-radius: 50% !important;
  position: absolute;
  right: -70px;
  top: 120px;
}

.partner-carousel .owl-next img {
  height: 25px;
}

.partner-carousel .owl-prev {
  background: #7BB62F !important;
  outline: none;
  height: 45px;
  width: 45px;
  border-radius: 50% !important;
  position: absolute;
  left: -70px;
  top: 120px;
}

.partner-carousel .owl-prev img {
  height: 25px;
}

.partners {
  border-bottom: 1px solid #dbdbdb;
  padding: 0 0 40px 0;
}

.resource-carousel .owl-next {
  background: #7bb62f !important;
  outline: 0;
  height: 45px;
  width: 45px;
  border-radius: 50% !important;
  position: absolute;
  right: -70px;
  top: 102px;
}

.resource-carousel .owl-next img {
  height: 25px;
}

.resource-carousel .owl-prev {
  background: #7BB62F !important;
  outline: none;
  height: 45px;
  width: 45px;
  border-radius: 50% !important;
  position: absolute;
  left: -70px;
  top: 102px;
}

.resource-carousel .owl-prev img {
  height: 25px;
}

.resource-carousel-item {
  overflow: hidden;
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  padding: 20px;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin: 10px;
  height: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.resource-carousel-item:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
}

.resource {
  margin-bottom: 40px;
  padding: 0 0 40px 0;
}

/*-------------*/

.info__title {
  color: #151b4e;
  position: relative;
  font-weight: 700;
  font-size: 30px;
  padding: 60px 0 30px 25px;
}

.info__title h2 img {
  position: absolute;
  left: 20px;
  top: 55px;
}

.info__list {
  margin-bottom: 60px;
}

.info__list_item {
  padding: 0 20px;
}

.info__list_item img {
  height: 240px;
  margin: 0 0 25px 0;
}

.info__list_item h5 {
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  color: #151B4E;
  margin-bottom: 20px;
}

.info__list_item p {
  font-size: 16px;
  line-height: 19px;
  color: #151B4E;
  margin-bottom: 15px;
}

.info__list_item p img {
  height: 20px;
}

.info__list_item p a {
  color: #151B4E;
}

.info__tab {
  padding: 40px 0 40px 0;
}

.info__tab ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0;
}

.info__tab ul li a {
  display: block;
  font-weight: bold;
  font-size: 30px;
  color: #151B4E;
  padding: 10px 25px 15px 25px;
  border: 1px solid #DADADA;
}

.info__tab ul li .active {
  background: #7bb62f;
  color: #fff;
  border: 1px solid #7bb62f;
}

.info__white {
  border-bottom: 1px solid #dbdbdb;
  padding: 40px 0;
}

.info__white_content p {
  color: #151B4E;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 0 30px 15px 0;
  line-height: 23px;
}

.info__white_content img {
  height: 300px;
  display: block;
}

.info__white_content ul li {
  color: #151B4E;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.info__white_content ul li img {
  height: 20px;
  margin-right: 20px;
  margin-top: 3px;
}

.info__white_content h6 {
  font-size: 25px;
  font-weight: bold;
  color: #151B4E;
  margin-bottom: 40px;
}

.info__gray {
  background: #F2F2F2;
  padding: 40px 0;
  border-bottom: 1px solid #dbdbdb;
}

.info__gray_content p {
  color: #151B4E;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  padding: 0 0 15px 0;
  line-height: 23px;
}

.info__gray_content p a img {
  height: 20px;
  margin-left: 10px;
}

.info__gray_content img {
  height: 300px;
}

.info__gray_content ul li {
  color: #151B4E;
  font-size: 14px;
  line-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.info__gray_content ul li img {
  height: 20px;
  margin-right: 20px;
  margin-top: 3px;
}

.info__structure {
  padding: 60px 0;
}

.info__structure_photo {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 84px;
  width: 84px;
  margin-right: 30px;
}

.info__structure_photo p {
  text-align: center;
  padding-top: 32px;
}

.info__structure_desc p {
  font-size: 14px;
  color: #151B4E;
}

.info__structure_desc p strong {
  color: #151B4E;
  font-weight: bold;
  font-size: 16px;
}

.info__structure_desc p img {
  height: 20px;
  margin-right: 10px;
}

.info__documents_title img {
  height: 25px;
  margin-right: 20px;
}

.info__documents_title h6 {
  font-size: 25px;
  font-weight: bold;
  color: #151B4E;
}

.info__list ul li {
  margin-bottom: 15px;
}

.info__list ul li a {
  display: block;
  background: #7BB62F;
  border-radius: 10px;
  color: #fff;
  padding: 13px 0 13px 10px;
  font-size: 14px;
}

.info__list ul li a:hover {
  background: #639A1C;
}

.info__pagination ul li {
  margin: 0 5px;
}

.info__pagination ul li a {
  background: #7bb62f;
  padding: 6px 13px;
  border-radius: 50px;
  color: #fff;
}

.info__pagination ul li a:hover {
  background: #639A1C;
}

.info__pagination ul li .pag-nav {
  background: #fff;
}

.info__pagination ul li .pag-nav:hover {
  background: #fff;
}

.info__pagination ul li .pag-active {
  background: #639A1C;
}

.info__pagination_links p a {
  background: #7bb62f;
  color: #fff;
  display: block;
  padding: 10px 18px;
  border-radius: 4px;
  margin: 0 80px;
}

.info__pagination_links p a:hover {
  background: #639A1C;
}

.info__title_mobile {
  color: #151b4e;
  position: relative;
  font-weight: 700;
  font-size: 30px;
  padding: 60px 0 30px 25px;
  display: none;
}

.info__title_mobile h2 img {
  position: absolute;
  left: 20px;
  top: 55px;
}

.info__pagination ul li {
  border-right: none !important;
}

/*-------------*/

.activity__title h2 {
  color: #151b4e;
  position: relative;
  font-weight: 700;
  font-size: 30px;
  padding: 60px 0 30px 0;
}

.activity__title h2 img {
  position: absolute;
  left: -7px;
  top: 55px;
}

.activity__test {
  height: 450px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 30px 50px;
}

.form-check-input {
  background-color: #fff0 !important;
  cursor: pointer;
  border: 2px solid #fff !important;
}

.form-check-input:focus {
  border-color: #86b7fe;
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.form-check label {
  color: #fff !important;
  font-size: 14px;
  margin: 5px 0 0 10px;
}

.activity__test_title h2 {
  font-weight: bold;
  font-size: 30px;
  color: #fff;
}

.activity__test_title h3 {
  font-weight: bold;
  font-size: 25px;
  color: #fff;
}

.activity__test textarea {
  height: 100px;
  width: 300px;
  border-radius: 6px;
  resize: none;
  padding: 10px;
}

.form-button button {
  color: #fff;
  display: block;
  padding: 10px 28px;
  border-radius: 10px;
  margin: 0 30px 0 0;
  outline: none;
  border: none;
  background: #7bb62f;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.form-button button:hover {
  background: #639a1c;
}

.form-button p {
  color: #fff;
}

/*-------------*/

.media-row {
  margin: 0 5px 0 5px;
  padding: 0 0 40px 0;
}

.media {
  padding: 50px 0;
}

.media__image {
  padding: 10px 0 50px 0;
}

.media__image img {
  height: 260px;
}

.media__text p {
  font-weight: normal;
  font-size: 14px;
  color: #0A174B;
  line-height: 20px;
  margin-bottom: 20px;
}

.info__documents p {
  color: #1E3179;
  font-size: 14px;
}

.media__wrap {
  max-width: 86%;
  margin: 0 auto;
  padding: 0 0 20px 0;
}

.gallery-carousel .owl-next {
  background: #7bb62f !important;
  outline: 0;
  height: 45px;
  width: 45px;
  border-radius: 50% !important;
  position: absolute;
  right: -70px;
  top: 220px;
}

.gallery-carousel .owl-next img {
  height: 25px;
}

.gallery-carousel .owl-prev {
  background: #7BB62F !important;
  outline: none;
  height: 45px;
  width: 45px;
  border-radius: 50% !important;
  position: absolute;
  left: -70px;
  top: 220px;
}

.gallery-carousel .owl-prev img {
  height: 25px;
}

.gallery-carousel .owl-dots {
  position: relative;
  top: -50px;
}

.gallery-carousel .owl-dots button {
  outline: none;
}

.gallery-carousel .owl-dots span {
  width: 10px;
  height: 10px;
}

.gallery-carousel-item {
  height: 490px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center left;
  border-radius: 10px;
}

.gallery__list_item {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 338px;
  cursor: pointer;
  position: relative;
  padding: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__list_item p {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0 auto;
}

.gallery__list_item .gallery__list_title {
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  margin: 0 auto;
}

.gallery__list_item-info {
  position: absolute;
  bottom: 15px;
  color: #fff;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gallery__list_item-info img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
}

.news-row {
  margin: 0 5px 0 5px;
  padding: 0 0 40px 0;
}

h3.title {
  margin: 0 auto;
  text-align: center;
}

.blueimp-gallery > .close,
.blueimp-gallery > .title {
  font-size: 16px !important;
}

a.gallery__list_item.photo-gallery__thumb {
  border-radius: 10px;
}

.photo-gallery__items {
  position: relative;
  z-index: 11;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.photo-gallery__items:hover {
  opacity: 0.9;
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
}

/*-------------*/

.partners-row {
  margin: 0 5px 0 5px;
  padding: 0 0 40px 0;
}

.partners__item {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.07);
  padding: 19px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__item:hover {
  -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
          box-shadow: 0 0 30px rgba(0, 0, 0, 0.13);
}

.partners__item img {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 160px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 20px auto;
}

.partners__item h3 {
  color: #151B4E;
  font-weight: normal;
  font-size: 22px;
}

.partners__info img {
  margin-bottom: 0 !important;
}

.contacts__info ul {
  margin-top: 40px;
}

.contacts__info ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #151B4E;
  margin-bottom: 30px;
}

.contacts__info ul li img {
  margin-right: 20px;
  width: 30px;
  height: auto;
}

.contacts__info ul li p strong {
  font-size: 20px;
  display: block;
}

.contacts__info ul li p span {
  line-height: 24px;
}

.contacts__info ul li a {
  color: #151B4E;
}

.contacts__info ul li a:hover {
  color: #32b3d5 !important;
}

/*---------IdTabs--------*/

#usual1 > ul {
  list-style: none;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 50px;
  padding-bottom: 30px;
}

#usual1 > ul li > a {
  display: block;
  font-weight: 700;
  font-size: 30px;
  color: #151b4e;
  padding: 10px 25px 15px 25px;
  border: 1px solid #dadada;
}

#usual1 ul li a {
  border-right: 0;
}

#usual1 ul li:last-child {
  border-right: 1px solid #dadada;
}

.selected {
  background: #7bb62f;
  color: #fff;
  border: 1px solid #7bb62f !important;
  color: #fff !important;
}

/* Blueimp-gallery.min.css begin
---------------------------------------*/

.blueimp-gallery,
.blueimp-gallery > .slides > .slide > .slide-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  -moz-backface-visibility: hidden;
}

.blueimp-gallery > .slides > .slide > .slide-content {
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  opacity: 1;
}

.blueimp-gallery {
  position: fixed;
  z-index: 999999;
  overflow: hidden;
  background: #000;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  display: none;
  direction: ltr;
  -ms-touch-action: none;
  touch-action: none;
}

.blueimp-gallery-carousel {
  position: relative;
  z-index: auto;
  margin: 1em auto;
  padding-bottom: 56.25%;
  -webkit-box-shadow: 0 0 10px #000;
          box-shadow: 0 0 10px #000;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.blueimp-gallery-display {
  display: block;
  opacity: 1;
}

.blueimp-gallery > .slides {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.blueimp-gallery-carousel > .slides {
  position: absolute;
}

.blueimp-gallery > .slides > .slide {
  position: relative;
  float: left;
  height: 100%;
  text-align: center;
  -webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
  transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
}

.blueimp-gallery,
.blueimp-gallery > .slides > .slide > .slide-content {
  -webkit-transition: opacity .5s linear;
  -o-transition: opacity .5s linear;
  transition: opacity .5s linear;
}

.blueimp-gallery > .slides > .slide-loading {
  background: url(../img/loading.gif) center no-repeat;
  background-size: 64px 64px;
}

.blueimp-gallery > .slides > .slide-loading > .slide-content {
  opacity: 0;
}

.blueimp-gallery > .slides > .slide-error {
  background: url(../img/error.png) center no-repeat;
}

.blueimp-gallery > .slides > .slide-error > .slide-content {
  display: none;
}

.blueimp-gallery > .next,
.blueimp-gallery > .prev {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -23px;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 2px #000;
  text-align: center;
  background: #222;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 3px solid #fff;
  border-radius: 23px;
  opacity: .5;
  cursor: pointer;
  display: none;
}

.blueimp-gallery > .next {
  left: auto;
  right: 15px;
}

.blueimp-gallery > .close,
.blueimp-gallery > .title {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0 40px 0 0;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  opacity: .8;
  display: none;
}

.blueimp-gallery > .close {
  padding: 15px;
  right: 15px;
  left: auto;
  margin: -15px;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}

.blueimp-gallery > .play-pause {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 15px;
  height: 15px;
  background: url(../img/play-pause.png) no-repeat;
  cursor: pointer;
  opacity: .5;
  display: none;
}

.blueimp-gallery-playing > .play-pause {
  background-position: -15px 0;
}

.blueimp-gallery > .close:hover,
.blueimp-gallery > .next:hover,
.blueimp-gallery > .play-pause:hover,
.blueimp-gallery > .prev:hover,
.blueimp-gallery > .title:hover {
  color: #fff;
  opacity: 1;
}

.blueimp-gallery-controls > .close,
.blueimp-gallery-controls > .next,
.blueimp-gallery-controls > .play-pause,
.blueimp-gallery-controls > .prev,
.blueimp-gallery-controls > .title {
  display: block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.blueimp-gallery-left > .prev,
.blueimp-gallery-right > .next,
.blueimp-gallery-single > .next,
.blueimp-gallery-single > .play-pause,
.blueimp-gallery-single > .prev {
  display: none;
}

.blueimp-gallery > .close,
.blueimp-gallery > .next,
.blueimp-gallery > .play-pause,
.blueimp-gallery > .prev,
.blueimp-gallery > .slides > .slide > .slide-content {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body:last-child .blueimp-gallery > .slides > .slide-error {
  background-image: url(../img/error.svg);
}

body:last-child .blueimp-gallery > .play-pause {
  width: 20px;
  height: 20px;
  background-size: 40px 20px;
  background-image: url(../img/play-pause.svg);
}

body:last-child .blueimp-gallery-playing > .play-pause {
  background-position: -20px 0;
}

.blueimp-gallery > .indicator {
  position: absolute;
  top: auto;
  right: 15px;
  bottom: 15px;
  left: 15px;
  margin: 0 40px;
  padding: 0;
  list-style: none;
  text-align: center;
  line-height: 10px;
  display: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.blueimp-gallery > .indicator > li {
  display: inline-block;
  width: 9px;
  height: 9px;
  margin: 6px 3px 0;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  border: 1px solid transparent;
  background: #ccc;
  background: center no-repeat rgba(255, 255, 255, 0.25);
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #000;
          box-shadow: 0 0 2px #000;
  opacity: .5;
  cursor: pointer;
}

.blueimp-gallery > .indicator > .active,
.blueimp-gallery > .indicator > li:hover {
  background-color: #fff;
  border-color: #fff;
  opacity: 1;
}

.blueimp-gallery-controls > .indicator {
  display: block;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}

.blueimp-gallery-single > .indicator,
.blueimp-gallery > .slides > .slide > .video-content > video,
.blueimp-gallery > .slides > .slide > .video-playing > a,
.blueimp-gallery > .slides > .slide > .video-playing > img {
  display: none;
}

.blueimp-gallery > .slides > .slide > .video-content > img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
  -moz-backface-visibility: hidden;
}

.blueimp-gallery > .slides > .slide > .video-content > video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.blueimp-gallery > .slides > .slide > .video-content > iframe {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.blueimp-gallery > .slides > .slide > .video-playing > iframe {
  top: 0;
}

.blueimp-gallery > .slides > .slide > .video-content > a {
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  margin: -64px auto 0;
  width: 128px;
  height: 128px;
  background: url(../img/video-play.png) center no-repeat;
  opacity: .8;
  cursor: pointer;
}

.blueimp-gallery > .slides > .slide > .video-content > a:hover {
  opacity: 1;
}

.blueimp-gallery > .slides > .slide > .video-playing > video {
  display: block;
}

.blueimp-gallery > .slides > .slide > .video-loading > a {
  background: url(../img/loading.gif) center no-repeat;
  background-size: 64px 64px;
}

body:last-child .blueimp-gallery > .slides > .slide > .video-content:not(.video-loading) > a {
  background-image: url(../img/video-play.svg);
}

.blueimp-gallery > .indicator > li {
  width: 90px !important;
  height: 50px !important;
  background-size: cover !important;
  border-radius: 0;
  opacity: 10;
}

.photo-gallery__thumb {
  display: none;
}

.photo-gallery__thumb:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blueimp-gallery > .indicator > li:first-child {
  display: none;
}

a.prev {
  background: #7bb62f !important;
  opacity: 20 !important;
  border: none !important;
  font-size: 40px !important;
  line-height: 33px !important;
}

a.next {
  background: #7bb62f !important;
  opacity: 20 !important;
  border: none !important;
  font-size: 40px !important;
  line-height: 33px !important;
}

.blueimp-gallery {
  background: #464646;
}

ol.indicator {
  background: gray;
  padding: 10px 40px !important;
}

/* Blueimp-gallery.min.css end
---------------------------------------*/

/*-------------*/

footer {
  background: #0A174B;
  padding: 40px 0;
}

.footer__logo {
  margin: 0 auto 10px  auto;
  width: 135px;
  height: 135px;
  border: 3px solid #fff;
  border-radius: 50%;
}

.footer__logo img {
  margin-top: 20px;
  height: 95px;
}

.footer__copyright {
  text-align: center;
  font-size: 11px;
  color: #d3d3d3;
}

.footer__menu {
  margin-top: 10px;
}

.footer__menu ul li {
  margin-bottom: 10px;
}

.footer__menu ul li a {
  text-align: center;
  font-size: 13px;
  color: #d3d3d3;
}

.footer__menu ul li a:hover {
  text-decoration: underline;
}

.footer__menu_title {
  color: #d3d3d3;
  font-weight: 500;
  margin-bottom: 15px;
}

.footer__menu_contact {
  margin-bottom: 15px;
}

.footer__menu_contact p {
  color: #d3d3d3;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
}

.footer__menu_contact p img {
  height: auto;
  width: 15px;
  margin-right: 15px;
}

.footer__menu_contact p a {
  text-align: center;
  font-size: 13px;
  color: #d3d3d3;
  font-weight: 400;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-left: 30px;
}

.footer__menu_contact p a:hover {
  text-decoration: underline;
}

.footer__menu_contact span {
  font-size: 13px;
  color: #d3d3d3;
  font-weight: 400;
  margin-left: 30px;
  display: block;
}

.footer__mobile {
  display: none;
}

/*------Media Queries-------*/

/*-------------*/

.header {
  display: block;
}

.mobile {
  display: none;
}

.mobile {
  position: relative;
}

.mobile__text h1 {
  font-size: 18px;
  color: #151b4e;
  font-weight: 700;
}

.mobile__text h1 span {
  font-size: 24px;
}

.mobile__logo {
  background: #7bb62f;
  height: 54px;
}

.menu-triger {
  display: block;
  width: 28px;
  height: 31px;
  background: url(https://www.rcmz49.ru/wp-content/themes/rcmz49/assets/img/icon/mobile-burger.svg) 0 0 repeat;
  position: absolute;
  left: 36px;
  top: 85px;
  position: fixed;
  z-index: 100;
}

/*.menu-close {
  display: block;
  width: 28px;
  height: 28px; 
  background: url(https://snipp.ru/demo/449/close.png) 0 0 repeat;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 100;
}*/

.menu-popup {
  display: none;
  background: #7bb62f;
  position: absolute;
  left: 0px;
  right: 0px;
  top: 127px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 30px;
  z-index: 9999;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  width: 70%;
  position: fixed;
}

.menu-popup ul {
  margin: 0;
  padding: 0;
}

.menu-popup li {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

.menu-popup li a {
  font-size: 16px;
  color: #fff !important;
  line-height: 1.4;
  text-decoration: none;
}

.body_pointer * {
  cursor: pointer;
}

.mobile__logo_search {
  text-align: right;
}

.mobile__logo_search img {
  margin-top: 10px;
}

.main__slider_mobile {
  display: none;
}

.menu-popup ul {
  margin-bottom: 30px;
}

.menu-popup ul li ul {
  margin-left: 25px;
  margin-bottom: 0;
}

.menu-popup ul li ul li a {
  font-size: 15px !important;
}

.menu-popup-contact a img {
  height: auto !important;
  width: 20px;
  margin-right: 10px;
  margin-left: 0 !important;
  margin-top: 0 !important;
}

.menu-popup li img {
  margin-left: 10px;
  margin-top: 5px;
  height: 12px;
}

.mobile__fixed {
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  opacity: 0;
  height: 60px;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  background-color: #fff;
  font-size: 45px;
  text-align: center;
  z-index: 100;
  background: #7bb62f;
}

.mobile__fixed.header-sticky-nav {
  opacity: 1;
}

a.menu-triger.header-sticky-nav {
  top: 14px;
  z-index: 101;
}

.menu-popup.header-sticky-nav {
  top: 59px;
}

.mobile__fixed.header-sticky-nav .mobile__logo_search img {
  margin-top: 16px;
}

/*#nav {
    float: left;
    width: 280px;
    border-top: 1px solid #999;
    border-right: 1px solid #999;
    border-left: 1px solid #999;
}*/

/*#nav li a {
    /*display: block;
    padding: 10px 15px;
    background: #ccc;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #999;
    text-decoration: none;
    color: #000;
}*/

*#nav li a img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#nav li a:hover img,
#nav li a.active img {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

#nav li .sub-menu {
  display: none;
  position: relative;
}

/*#nav li ul li a {
    padding: 10px 25px;
    background: #ececec;
    border-bottom: 1px dotted #ccc;
}*/

#nav li .sub-menu::before {
  content: '';
  background-image: url(https://www.rcmz49.ru/wp-content/themes/rcmz49/assets/img/icon/mobile-icon.svg);
  display: block;
  color: #fff;
  position: absolute;
  left: 100px;
  top: -27px;
  width: 13px;
  height: 13px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1600px) {
  .main-carousel-item {
    height: 466px;
  }

  .main-carousel .owl-prev {
    top: 212px;
  }

  .main-carousel .owl-next {
    top: 212px;
  }
}

@media (max-width: 1367px) {
  .header__info_contacts a span {
    font-size: 15px;
  }

  .main-carousel-item {
    height: 431px;
  }

  .main-carousel .owl-prev {
    top: 212px;
  }

  .main-carousel .owl-next {
    top: 212px;
  }
}

@media (max-width: 1280px) {
  .header__info_contacts a span {
    font-size: 15px;
  }

  .main-carousel-item {
    height: 431px;
  }

  .main-carousel .owl-prev {
    top: 212px;
  }

  .main-carousel .owl-next {
    top: 212px;
  }
}

@media (max-width: 1200px) {
  .header__info_contacts a span {
    font-size: 15px;
  }

  .header__menu_list ul li a {
    font-size: 15px;
  }

  .main-carousel-item {
    height: 431px;
  }

  .main-carousel .owl-prev {
    top: 212px;
  }

  .main-carousel .owl-next {
    top: 212px;
  }

  .header__info_text h1 {
    font-size: 23px;
  }
}

@media (max-width: 1024px) {
  .header__info_text h1 {
    font-size: 21px;
  }

  .info__tab ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .header__menu_list ul li {
    margin-right: 25px;
  }

  .header__menu_list ul li a {
    font-size: 17px;
  }

  .header__info_contacts a span {
    font-size: 17px;
  }

  .slider__wrap {
    padding: 0 0 0 0;
  }

  .main-carousel .owl-dots {
    top: -100px;
  }

  .main__announce img {
    width: 250px;
    height: auto;
  }

  .info__title {
    font-size: 28px;
  }

  .main__slider_mobile {
    display: block;
  }

  .slider {
    display: none;
  }

  .media__wrap {
    display: none;
  }

  .main-carousel .owl-prev {
    display: none !important;
  }

  .main-carousel .owl-next {
    display: none !important;
  }

  .gallery-carousel .owl-prev {
    display: none !important;
  }

  .gallery-carousel .owl-next {
    display: none !important;
  }

  .main-carousel-item {
    height: 463px;
    margin-top: -2px;
    border-radius: 0;
  }

  .main-carousel .owl-dots {
    top: -60px;
  }

  .header {
    display: none !important;
  }

  .mobile {
    display: block;
  }

  .header__info_logo {
    margin-top: -87px;
    margin-left: 100px;
  }

  .mobile__text h1 {
    margin: 25px 0;
  }

  .menu-triger {
    top: 111px;
  }

  .menu-popup {
    top: 147px;
  }

  .header__menu_list ul li a {
    font-size: 15px;
  }

  .footer__mobile {
    display: block;
  }

  .footer__dekstop {
    display: none;
  }
}

@media (max-width: 992px) {
  .main-carousel-item {
    height: 448px;
    margin-top: -2px;
  }
}

@media (max-width: 877px) {
  .main-carousel-item {
    height: 395px;
    margin-top: -2px;
  }
}

@media (max-width: 835px) {
  .header__info_text h1 {
    font-size: 19px;
  }

  .header__info_contacts a span {
    font-size: 14px;
  }

  .header__menu_list ul li a {
    font-size: 14px;
  }

  .header__menu_list ul li {
    margin-right: 12px;
  }

  .main-carousel-item {
    height: 376px;
    margin-top: -2px;
  }
}

@media (max-width: 821px) {
  .header__info_text h1 {
    font-size: 19px;
  }

  .header__info_contacts a span {
    font-size: 14px;
  }

  .header__menu_list ul li a {
    font-size: 14px;
  }

  .header__menu_list ul li {
    margin-right: 12px;
  }

  .main-carousel-item {
    height: 370px;
    margin-top: -2px;
  }
}

@media (max-width: 811px) {
  .header__info_text h1 {
    font-size: 19px;
  }

  .header__info_contacts a span {
    font-size: 14px;
  }

  .header__menu_list ul li a {
    font-size: 14px;
  }

  .header__menu_list ul li {
    margin-right: 12px;
  }

  .main-carousel-item {
    height: 367px;
    margin-top: -2px;
  }
}

@media (max-width: 801px) {
  .header__info_text h1 {
    font-size: 19px;
  }

  .header__info_contacts a span {
    font-size: 14px;
  }

  .header__menu_list ul li a {
    font-size: 14px;
  }

  .header__menu_list ul li {
    margin-right: 12px;
  }

  .main-carousel-item {
    height: 362px;
    margin-top: -2px;
  }
}

@media (max-width: 768px) {
  .header__info_text h1 {
    font-size: 18px;
  }

  .header__info_logo {
    width: 105px;
    height: 105px;
  }

  .header__info_logo img {
    margin-top: 12px;
    height: 80px;
  }

  .container {
    width: 95%;
    margin: 0 auto;
  }

  .header__menu_list ul li {
    margin-right: 18px;
  }

  .header__menu_list ul li a {
    font-size: 14px;
  }

  .header__info_contacts a span {
    font-size: 14px;
  }

  .header__info_contacts a img {
    height: 20px;
    width: 20px;
  }

  .header__info_contacts {
    margin-top: 10px;
  }

  .header__info_text h1 {
    margin-top: 13px;
  }

  .header__menu {
    height: 54px;
    margin-top: -40px;
  }

  .header__menu_list ul {
    margin: 18px auto;
  }

  .header__menu_search a img {
    height: 25px;
  }

  .header__menu_search a {
    margin-right: 0;
  }

  .slider__wrap {
    padding: 20px 0 0 0;
  }

  .media__wrap {
    padding: 20px 0 0 0;
  }

  .main-carousel .owl-prev {
    top: 145px;
  }

  .main-carousel .owl-next {
    top: 145px;
  }

  .footer__logo img {
    height: 80px;
    margin-top: 12px;
  }

  .footer__logo {
    width: 105px;
    height: 105px;
  }

  .info__white_content img {
    margin: 15px auto 0 auto;
  }

  .info__gray_content img {
    margin: 0 auto 25px auto;
  }

  #usual1 > ul li > a {
    font-size: 20px;
  }

  .gallery-carousel-item {
    height: 300px;
  }

  .gallery-carousel .owl-prev {
    top: 145px;
  }

  .gallery-carousel .owl-next {
    top: 145px;
  }

  .info__tab ul li a {
    font-size: 20px;
  }

  .main-carousel .owl-dots {
    top: -65px;
  }

  .info__title {
    font-size: 23px;
  }

  .main-carousel-item {
    height: 346px;
  }
}

@media (max-width: 737px) {
  .menu-triger {
    top: 127px;
  }

  .menu-popup {
    top: 168px;
  }

  .header__info_logo {
    margin-top: -109px;
    margin-left: 42px;
  }
}

@media (max-width: 579px) {
  .menu-triger {
    top: 127px;
  }

  .menu-popup {
    top: 168px;
  }

  .header__info_logo {
    margin-top: -109px;
    margin-left: 42px;
  }

  .info__title {
    display: none;
  }

  .info__title_mobile {
    display: block;
  }
}

@media (max-width: 576px) {
  /* CSS для: 576px <= ширины <= 767px */

  .header__info_logo {
    margin-top: -66px;
  }

  .slider__wrap {
    max-width: 93%;
  }

  .main-carousel-item {
    height: 260px;
    margin-top: -3px;
  }

  .main-carousel .owl-prev img {
    height: 15px;
  }

  .main-carousel .owl-next img {
    height: 15px;
  }

  .main-carousel .owl-prev {
    height: 35px;
    width: 35px;
    border: 3px solid #b8dde6 !important;
    left: -45px;
    top: 110px;
  }

  .main-carousel .owl-next {
    height: 35px;
    width: 35px;
    border: 3px solid #b8dde6 !important;
    right: -45px;
    top: 110px;
  }

  .partner-carousel .owl-prev img {
    height: 15px;
  }

  .partner-carousel .owl-next img {
    height: 15px;
  }

  .partner-carousel .owl-prev {
    height: 35px;
    width: 35px;
    left: -40px;
    top: 110px;
  }

  .partner-carousel .owl-next {
    height: 35px;
    width: 35px;
    right: -40px;
    top: 110px;
  }

  .resource-carousel .owl-prev img {
    height: 15px;
  }

  .resource-carousel .owl-next img {
    height: 15px;
  }

  .resource-carousel .owl-prev {
    height: 35px;
    width: 35px;
    left: -40px;
    top: 110px;
  }

  .resource-carousel .owl-next {
    height: 35px;
    width: 35px;
    right: -40px;
    top: 110px;
  }

  .footer__logo {
    margin: 0 10px 10px 10px;
  }

  .footer__copyright {
    font-size: 11px;
    text-align: left;
  }

  .footer__menu_contact p {
    font-size: 12px;
  }

  .footer__menu_contact p a {
    font-size: 12px;
  }

  .footer__menu_contact span {
    font-size: 12px;
  }

  #usual1 > ul {
    padding-top: 50px;
    padding-bottom: 0;
  }

  #usual1 > ul li > a {
    font-size: 13px;
    padding: 10px 15px 15px 15px;
  }

  .info__white_content img {
    height: auto;
  }

  .info__gray_content img {
    height: auto;
  }

  .info__list ul li a {
    font-size: 12px;
  }

  .info__pagination_links p a {
    font-size: 13px;
  }

  .info__pagination ul li {
    margin: 0 5px;
    font-size: 13px;
  }

  .info__pagination ul li a {
    padding: 6px 11px;
  }

  .media__wrap {
    max-width: 93%;
  }

  .gallery-carousel-item {
    height: 260px;
  }

  .gallery-carousel .owl-prev img {
    height: 15px;
  }

  .gallery-carousel .owl-next img {
    height: 15px;
  }

  .gallery-carousel .owl-prev {
    height: 35px;
    width: 35px;
    left: -45px;
    top: 110px;
  }

  .gallery-carousel .owl-next {
    height: 35px;
    width: 35px;
    right: -45px;
    top: 110px;
  }

  .gallery-carousel .owl-dots {
    top: -60px;
  }

  .info__pagination_links p a {
    margin: 0 50px;
  }

  h3.title {
    font-size: 14px !important;
    line-height: 16px !important;
  }

  .blueimp-gallery > .indicator > li {
    width: 40px !important;
    height: 30px !important;
  }

  .info__title:before {
    bottom: 175px;
    left: 20px;
  }

  .info__title:after {
    bottom: 146px;
    left: 20px;
  }

  .info__list_item {
    padding: 30px 0 0 0;
  }

  .header__info_logo {
    margin-top: -108px;
    margin-left: 35px;
  }

  .menu-triger {
    top: 126px;
  }

  .menu-popup {
    top: 168px;
  }

  .main__title a {
    display: none;
  }
}

@media (max-width: 428px) {
  .menu-triger {
    top: 147px;
  }

  .menu-popup {
    top: 190px;
  }

  .main-carousel-item {
    height: 200px;
    margin-top: -3px;
  }

  .header__info_logo {
    margin-top: -119px;
    margin-left: 12px;
  }

  #usual1 ul li a {
    border-right: 1px solid #dadada;
    border-bottom: 0;
  }

  #usual1 ul li:last-child {
    border-bottom: 1px solid #dadada;
    border-right: 0;
  }
}

@media (max-width: 415px) {
  .header__info_logo {
    width: 90px !important;
    height: 90px !important;
  }

  .header__info_logo img {
    height: 65px;
  }

  .header__info_logo {
    margin-top: -93px;
    margin-left: 15px;
  }

  .mobile__text h1 {
    font-size: 16px;
    margin: 11px 0;
  }

  .menu-triger {
    top: 111px;
  }

  .slider__wrap {
    max-width: 100%;
  }

  .container {
    width: 100%;
    margin: 0 auto;
  }

  .main-carousel-item {
    height: 189px;
    border-radius: 0;
  }

  .main-carousel .owl-dots {
    top: -45px;
  }

  .menu-popup {
    top: 152px;
  }

  .main__title a {
    display: none;
  }

  .partner-carousel-item {
    width: 80% !important;
    margin: 0 auto;
  }

  .resource-carousel-item {
    width: 80% !important;
    margin: 0 auto;
  }

  .partner-carousel .owl-next {
    right: -15px;
  }

  .partner-carousel .owl-prev {
    left: -15px;
  }

  .resource-carousel .owl-next {
    right: -15px;
  }

  .resource-carousel .owl-prev {
    left: -15px;
  }

  .main__slider_mobile {
    display: block;
  }

  #usual1 > ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 50px;
  }

  .info__title:before {
    bottom: 230px;
  }

  .info__title:after {
    bottom: 200px;
  }

  .info__gray_content img {
    height: auto !important;
  }

  .media__wrap {
    display: none;
  }

  .info__pagination_links p a {
    margin: 0 40px;
    padding: 10px 10px;
  }

  .info__tab ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 20px 50px;
  }

  .info__tab ul li a {
    font-size: 13px;
    padding: 10px 15px 15px 15px;
  }

  .main__title h2 {
    padding: 30px 0 30px 25px;
  }

  .main__title h2 img {
    left: 20px;
    top: 25px;
  }

  .mobile__text h1 span {
    font-size: 17px;
  }

  .info__documents_title h6 {
    font-size: 16px;
  }
}

@media (max-width: 376px) {
  .main-carousel-item {
    height: 170px;
    border-radius: 0;
  }

  .info__title {
    font-size: 20px;
  }

  .info__title:before {
    bottom: 205px;
  }

  .info__title:after {
    bottom: 177px;
  }

  .activity__test_title h2 {
    font-size: 25px;
  }

  .activity__test_title h3 {
    font-size: 20px;
  }

  .activity__test textarea {
    width: 250px;
  }
}

@media (max-width: 361px) {
  .info__title {
    font-size: 20px;
    height: 261px;
  }

  .main-carousel-item {
    height: 164px;
  }
}

@media (max-width: 321px) {
  .main-carousel-item {
    height: 145px;
  }

  .main-carousel .owl-dots {
    top: -40px;
  }

  .main__title h2 {
    font-size: 26px;
  }

  .header__info_logo {
    margin-left: 2px;
  }

  .main-carousel-item {
    height: 146px;
    margin-top: -2px;
  }
}
@supports (-webkit-appearance:none){
.blueimp-gallery > .slides > .slide-loading{background:url(../img/loading.gif) center no-repeat}
.blueimp-gallery > .slides > .slide-error{background:url(../img/error.webp) center no-repeat}
.blueimp-gallery > .play-pause{background:url(../img/play-pause.webp) no-repeat}
body:last-child .blueimp-gallery > .slides > .slide-error{background-image:url(../img/error.svg)}
body:last-child .blueimp-gallery > .play-pause{background-image:url(../img/play-pause.svg)}
.blueimp-gallery > .slides > .slide > .video-content > a{background:url(../img/video-play.webp) center no-repeat}
.blueimp-gallery > .slides > .slide > .video-loading > a{background:url(../img/loading.gif) center no-repeat}
body:last-child .blueimp-gallery > .slides > .slide > .video-content:not(.video-loading) > a{background-image:url(../img/video-play.svg)}
.menu-triger{background:url(https://www.rcmz49.ru/wp-content/themes/rcmz49/assets/img/icon/mobile-burger.svg) 0 0 repeat}
#nav li .sub-menu::before{background-image:url(https://www.rcmz49.ru/wp-content/themes/rcmz49/assets/img/icon/mobile-icon.svg)}
}

 @media (max-width: 1600px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1367px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1280px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1200px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 1024px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 992px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 877px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 835px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 821px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 811px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 801px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 768px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 737px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 579px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 576px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 428px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 415px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 376px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 361px){

@supports (-webkit-appearance:none){

}

}

 @media (max-width: 321px){

@supports (-webkit-appearance:none){

}

}
